html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.timer {
  display: flex;
  justify-content: center;
}

.value {
  display: block;
  font-weight: 700;
  font-size: 60px;
}

.label {
  display: block;
  font-weight: 900;
  font-size: 60px;
}
.field {
  margin-right: 30px;
  border: 2px solid red;
  min-width: 200px;
  text-align: center;
}
